@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-title{
  font-size: 1rem !important;
}
.d-none {
  display: none;
}
.modal-working-time-date{
  width: 95vw;
  height: 50rem;
}
.max-width {
  max-width: 1550px;
  margin: auto;
}
.main-height-p6-g {
  height: 44.6rem;
}
.main-height-g {
  height: 40rem;
}
.main-height-g-2 {
  height: 38rem;
}
.main-height-g-4 {
  height: 36rem;
}
.main-height-g-6 {
  height: 32rem;
}
.tracking-widest-g {
  letter-spacing: 0.5em;
}
.text-sm-g {
  font-size: 0.7em;
}
.text-vsm-g {
  font-size: 0.5em;
}
 .h-93vh-g{
  height: 91vh;
 }
/*  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(139, 139, 140);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(98, 135, 236);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(89, 89, 253);
}

.clip-path-g {
  clip-path: polygon(
    0 100%,
    0 0,
    100% 0,
    100% 100%,
    72% 100%,
    66% 86%,
    35% 86%,
    30% 100%
  );
}

.linear-gradient-g {
  background: linear-gradient(
      rgba(116, 185, 255, 0.7),
      rgba(116, 185, 255, 0.7)
    ),
    url("../public/images/clinic.jpg") 0 40% / cover no-repeat border-box;
}
.linear-gradient2-g {
  background: linear-gradient(
      rgba(116, 185, 255, 0.7),
      rgba(116, 185, 255, 0.7)
    )
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
